-var year = new Date().getFullYear();
include ../../assets/mixins

footer(class='footer')
  div(class='footer__container')
    div(class='footer__inner')
      p(class='footer__copyright') © #{year} - Made with #[a(href='https://sprucecss.com/') Spruce CSS] on #[a(href='https://www.gatsbyjs.com/') Gatsby] by #[a(href='https://conedevelopment.com/') Cone].
