include ../../assets/mixins

header(class='header')
  div(class='header__container')
    div(class='header__inner')
      a(href='index.html' class='header__logo')
        img(src='../../assets/img/bite-sized-a11y-logo.svg' alt='Bite-sized A11Y' width='140')
      ul(class='header__lang-switcher')
        li
          a(aria-current='page' href='#' hreflang='en' aria-label='English') en
        li
          a(href='#' hreflang='hu' aria-label='Magyar') hu
