div(class='hero')
  div(class='hero__container')
    div(class='hero__inner')
      h1(class='hero__title') #[span Bite-Sized] #[br] Access&shy;ibility
      // img(class='hero__decorator' src='../../assets/img/decorator.svg' width='60')
      p(class='hero__description') Quick and small (less than 250 words) accessibility tips for the one who's in a rush or just one to learn something new.
