nav.navigation.pagination(aria-label='Posts')
  h2.sr-only Posts navigation
  .nav-links
    span.page-numbers.current(aria-current='page') 1
    a.page-numbers(href='#') 2
    span.page-numbers.dots &mldr;
    a.page-numbers(href='#') 10
    a.next.page-numbers(href='#') Next
