include ../../assets/mixins

header(class='topbar')
  div(class='topbar__container')
    div(class='topbar__inner')
      a(class='topbar__logo' href='https://conedevelopment.com')
        img(src='../../assets/img/cone-logo-light.svg')
      ul(class='topbar__navigation')
        li
          a(href='#') Bazar
        li
          a(href='#') Spruce CSS
        li
          a(href='#') Pine
      ul(class='topbar__social')
        li
          a(href='#') About
        li
          a(href='#') Twitter
        li
          a(href='#') GitHub
