@use 'sprucecss/scss/spruce';

.footer {
  $this: &;

  position: relative;

  &--front-page {
    border-top: 1px solid spruce.color(border);
  }

  &__container {
    @include spruce.layout-center;
  }

  &__inner {
    padding-block: spruce.spacer(xl) spruce.spacer(l);
  }

  &__copyright {
    margin: 0;
  }
}
