@use 'sass:color';
@use 'sprucecss/scss/spruce';

.hero {
  @include spruce.layout-stack(s);
  padding-block: spruce.spacer(l) spruce.spacer(xl);

  &__title {
    font-size: spruce.responsive-font-size(3.25rem, 40, '4vw + 1rem');
    letter-spacing: -0.01em;
    text-transform: uppercase;

    span {
      color: spruce.color(primary, $only-color: true);
      font-weight: 400;
    }
  }

  &__description {
    font-size: spruce.font-size(
      $key: h4,
      $scaler: 20,
      $optimal-size: '0.25vw + 1rem'
    );
    line-height: 1.7;
    max-width: 50ch;
  }
}
