@use 'sprucecss/scss/spruce';

.hero {
  @include spruce.layout-stack(
    spruce.spacer(s),
    $width: false
  );
  padding-block: spruce.spacer(l) spruce.spacer(xl);

  &__title {
    font-size: spruce.responsive-font-size(3.75rem);
    letter-spacing: -0.01em;
    text-transform: uppercase;

    span {
      font-weight: 400;
    }
  }

  &__description {
    font-size: spruce.font-size(
      $key: h4,
      $scaler: 20,
      $optimal-size: '0.25vw + 1rem'
    );
    line-height: spruce.$line-height-md;
    max-width: 50ch;
  }
}
