@use 'sass:color';
@use 'sprucecss/scss/spruce';

.pagination {
  @include spruce.clear-list;
  font-family: spruce.$font-family-cursive;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-block-start: spruce.spacer(xl);
  gap: spruce.spacer(s);

  > * + * {
    margin-block-start: 0;
  }

  a {
    --dimension: 2.8rem;

    background-color: hsl(0 0% 100%);
    height: var(--dimension);
    min-width: var(--dimension);
    border-radius: spruce.$border-radius-lg;
    display: flex;
    align-items: center;
    justify-content: center;
    color: spruce.color(primary);
    font-weight: 700;
    transition-duration: spruce.transition(duration);
    transition-property: all;
    transition-timing-function: spruce.transition(timing-function);
    text-decoration: none;

    &.next,
    &.prev {
      padding-inline: 1rem;
      width: auto;
    }

    &[aria-current='page'],
    &:hover {
      background-color: spruce.color(primary);
      text-decoration: none;
      color: hsl(0 0% 100%);
    }
  }
}
