@use 'sass:color';
@use 'sprucecss/scss/spruce' as *;

.pagination {
  @include clear-list;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-family: config('font-family-cursive', $typography);
  gap: spacer('s');
  margin-block-start: spacer('xl');

  > * {
    margin-block: 0;
  }

  a {
    --dimension: 2.8rem;
    @include transition;

    align-items: center;
    background-color: hsl(0 0% 100%);
    border-radius: config('border-radius-lg', $display);
    color: color('primary');
    display: flex;
    font-weight: 700;
    height: var(--dimension);
    justify-content: center;
    min-width: var(--dimension);
    text-decoration: none;

    &[aria-current='page'],
    &:hover {
      background-color: color('primary');
      color: hsl(0deg 0% 100%);
      text-decoration: none;
    }
  }

  .next,
  .prev {
    padding-inline: 1rem;
    width: auto;
  }
}
