@use 'sass:color';
@use 'sprucecss/scss/spruce';

.pagination {
  @include spruce.clear-list;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-family: spruce.$font-family-cursive;
  gap: spruce.spacer(s);
  margin-block-start: spruce.spacer(xl);

  > * {
    margin-block: 0;
  }

  a {
    --dimension: 2.8rem;
    align-items: center;

    background-color: hsl(0 0% 100%);
    border-radius: spruce.$border-radius-lg;
    color: spruce.color(primary);
    display: flex;
    font-weight: 700;
    height: var(--dimension);
    justify-content: center;
    min-width: var(--dimension);
    text-decoration: none;
    transition-duration: spruce.transition(duration);
    transition-property: all;
    transition-timing-function: spruce.transition(timing-function);

    &[aria-current='page'],
    &:hover {
      background-color: spruce.color(primary);
      color: hsl(0 0% 100%);
      text-decoration: none;
    }
  }

  .next,
  .prev {
    padding-inline: 1rem;
    width: auto;
  }
}
