@use 'sprucecss/scss/spruce' as *;

.post-list {
  @include layout-stack('l');
  @include clear-list;
}

.post-card {
  @include layout-stack('xs');
  text-decoration: none;

  &__serial-number {
    --dimension: 2rem;
    @include transition;
    align-items: center;
    background-color: color('secondary');
    border-radius: config('border-radius-sm', $display);
    color: hsl(0 0% 100%);
    display: flex;
    flex-shrink: 0;
    font-family: config('font-family-cursive', $typography);
    font-size: responsive-font-size(1rem, 15, '2vw');
    font-weight: 700;
    height: var(--dimension);
    justify-content: center;
    width: var(--dimension);
  }

  &__title {
    font-size: responsive-font-size(1.85rem, 15, '1vw + 1rem');
    margin-block: 0.05em 0;

    a {
      color: color('heading');
      text-decoration: none;
    }

    &-wrapper {
      display: flex;
      gap: spacer('s');
    }
  }

  &__meta {
    display: flex;
    flex-wrap: wrap;
    gap: spacer('s');
    margin-inline-start: 3rem;
  }
}
