@use 'sprucecss/scss/spruce';

.post-list {
  &__inner {
    @include spruce.layout-stack(m);
    @include spruce.clear-list;
  }
}

.post-card {
  $this: &;

  align-items: center;
  display: flex;
  gap: spruce.spacer(m);
  text-decoration: none;

  &:hover {
    #{$this}__serial-number {
      background-color: spruce.color(primary);
      color: hsl(0 0% 100%);
    }
  }

  &__serial-number {
    --dimension: 4rem;
    align-items: center;
    background-color: hsl(341 100% 96%);
    border-radius: spruce.$border-radius-lg;
    color: spruce.color(primary);
    display: flex;
    flex-shrink: 0;
    font-family: spruce.$font-family-cursive;
    font-size: spruce.responsive-font-size(1.6rem, 30, '1vw + 1rem');
    font-weight: 700;
    height: var(--dimension);
    justify-content: center;
    transition-duration: spruce.transition(duration);
    transition-property: all;
    transition-timing-function: spruce.transition(timing-function);
    width: var(--dimension);

    @include spruce.breakpoint(md) { --dimension: 5rem; }
  }

  &__title {
    font-size: spruce.responsive-font-size(1.7rem, 30, '1vw + 1rem');
    margin: 0;
  }
}
