@use 'sprucecss/scss/spruce' as *;

/**
 * a11y-dark theme for JavaScript, CSS, and HTML
 * Based on the okaidia theme: https://github.com/PrismJS/prism/blob/gh-pages/themes/prism-okaidia.css
 * @author ericwbailey
 */

code[class*='language-'],
pre[class*='language-'] {
  background: none;
  color: hsl(60deg 30% 96%);
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1rem;

  hyphens: none;
  hyphens: none;
  hyphens: none;
  hyphens: none;
  line-height: 1.5;

  tab-size: 4;
  tab-size: 4;
  tab-size: 4;
  text-align: left;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
}

/* Code blocks */
pre[class*='language-'] {
  border-radius: config('border-radius-sm', $display);
  overflow: auto;
  padding: spacer-clamp('s', 'm');

  code {
    padding-inline: 0;
  }
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: hsl(222deg 60% 16%);
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: hsl(54deg 32% 75%);
}

.token.punctuation {
  color: hsl(0deg 0% 100%);
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: hsl(17deg 100% 74%);
}

.token.boolean,
.token.number {
  color: hsl(180deg 100% 44%);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: hsl(80deg 75% 55%);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: hsl(180deg 100% 44%);
}

.token.atrule,
.token.attr-value,
.token.function {
  color: hsl(51deg 100% 50%);
}

.token.keyword {
  color: hsl(180deg 100% 44%);
}

.token.regex,
.token.important {
  color: hsl(51deg 100% 50%);
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

@media screen and (-ms-high-contrast: active) {
  code[class*='language-'],
  pre[class*='language-'] {
    background: window;
    color: windowText;
  }

  :not(pre) > code[class*='language-'],
  pre[class*='language-'] {
    background: window;
  }

  .token.important {
    background: highlight;
    color: window;
    font-weight: normal;
  }

  .token.atrule,
  .token.attr-value,
  .token.function,
  .token.keyword,
  .token.operator,
  .token.selector {
    font-weight: bold;
  }

  .token.attr-value,
  .token.comment,
  .token.doctype,
  .token.function,
  .token.keyword,
  .token.operator,
  .token.property,
  .token.string {
    color: highlight;
  }

  .token.attr-value,
  .token.url {
    font-weight: normal;
  }
}
