@use 'sprucecss/scss/spruce' as *;

.site-header {
  &__inner {
    align-items: center;
    display: flex;
    height: 8rem;
  }

  &__logo {
    display: inline-flex;
    width: 9.75rem;

    img {
      height: auto;
      width: 100%;
    }
  }
}
