@use 'sprucecss/scss/spruce';

.site-header {
  &__inner {
    align-items: center;
    display: flex;
    height: 8rem;
  }

  &__logo {
    display: inline-flex;
    width: 7.5rem;

    @include spruce.breakpoint(md) {
      width: 8.75rem;
    }

    img {
      height: auto;
      width: 100%;
    }
  }
}
