@use 'sass:color';
@use 'sprucecss/scss/spruce' as *;

.tag-list {
  @include clear-list;

  display: flex;
  flex-wrap: wrap;
  gap: spacer('s');

  > * {
    margin-block: 0;
  }

  a {
    @include transition;
    background-color: color(tag-background);
    border-radius: config('border-radius-sm', $display);
    color: color('primary');
    font-family: config('font-family-cursive', $typography);
    font-size: config('font-size-sm', $typography);
    padding: 0.35em 0.55em;
    text-decoration: none;

    &:hover,
    &:focus {
      background-color: color('primary');
      color: hsl(0deg 0% 100%);
    }
  }
}
