@use 'sass:color';
@use 'sprucecss/scss/spruce';

.tags-list {
  @include spruce.clear-list;

  > * + * {
    margin-block-start: 0;
  }

  a {
    background-color: rgba(255, 235, 241, 0.077);
    border-radius: spruce.$border-radius-sm;
    color: color.adjust(spruce.color(primary, $only-color: true), $lightness: 20%);
    font-family: spruce.$font-family-cursive;
    font-weight: 400;
    padding: 0.25em 0.5em;
    text-decoration: none;
    transition-duration: spruce.transition(duration);
    transition-property: all;
    transition-timing-function: spruce.transition(timing-function);
    width: var(--dimension);

    &:hover,
    &:focus {
      background-color: spruce.color(primary);
      color: hsl(0 0% 100%);
    }
  }
}
