@use 'sprucecss/scss/spruce' as *;

.topbar {
  $this: &;

  background-color: color('topbar-background');
  line-height: config('line-height-md', $typography);
  padding-block: 0.65rem;

  &__inner {
    align-items: center;
    display: flex;
    font-size: 1rem;
    font-weight: 700;
    gap: spacer-clamp('m', 'l');
    overflow-x: auto;
    white-space: nowrap;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  ul {
    align-items: center;
    display: flex;
    font-family: config('font-family-cursive', $typography);
    gap: spacer('m');
    list-style: none;
    margin-block: 0;
    padding: 0;
    text-transform: uppercase;

    li {
      margin-block: 0;
    }

    a {
      @include transition($property: color);
      font-size: config('font-size-sm', $typography);
      text-decoration: none;

      &:hover,
      &[aria-current='page'] {
        color: color('secondary');
      }
    }
  }

  &__social {
    margin-inline-start: auto;
  }
}
