@use 'sprucecss/scss/spruce';

.topbar {
  $this: &;

  background-color: spruce.color(topbar-background);
  line-height: spruce.$line-height-md;
  padding-block: 0.65rem;

  &__inner {
    align-items: center;
    display: flex;
    font-size: 1rem;
    font-weight: 700;
    gap: spruce.spacer-clamp(m, l);
    overflow-x: auto;
    white-space: nowrap;

    &::-webkit-scrollbar{
      display: none;
    }
  }

  ul {
    align-items: center;
    display: flex;
    font-family: spruce.$font-family-cursive;
    gap: spruce.spacer(m);
    list-style: none;
    margin-block: 0;
    padding: 0;
    text-transform: uppercase;

    li {
      margin-block: 0;
    }

    a {
      text-decoration: none;
      transition-duration: spruce.transition(duration);
      transition-property: color;
      transition-timing-function: spruce.transition(timing-function);

      &:hover,
      &[aria-current='page'] {
        color: spruce.color(secondary);
      }
    }
  }

  &__social {
    margin-inline-start: auto;
  }
}
