@use 'sprucecss/scss/spruce';

.post-content {
  @include spruce.layout-stack;
  font-size: spruce.responsive-font-size(1.0375rem);

  p:first-child {
    color: spruce.color(heading);
    font-size: spruce.responsive-font-size(1.3rem);
    font-weight: 700;
    line-height: 1.7;
  }

  * + h1,
  * + h2,
  * + h3,
  * + h4,
  * + h5,
  * + h6 {
    margin-top: spruce.spacer(l);
  }

  h1 + *,
  h2 + *,
  h3 + *,
  h4 + *,
  h5 + *,
  h6 + * {
    margin-top: spruce.spacer(s);
  }

  img,
  iframe {
    border-radius: spruce.$border-radius-lg;
  }

  strong {
    color: spruce.color(heading);
  }
}

.resources {
  @include spruce.layout-stack(s);
  font-size: spruce.responsive-font-size(1.0375rem);
  margin-block-start: spruce.spacer(l);

  a {
    color: spruce.color(text);
    text-decoration: none;

    &:hover,
    &:focus {
      color: spruce.color(primary);
    }
  }
}

.edit-on-github {
  border-block: 1px solid spruce.color(border);
  margin-block-start: spruce.spacer(l);
  padding-block: spruce.spacer(s);
}

.more-content {
  @include spruce.layout-stack(2rem);
  margin-block-start: spruce.spacer(l);

  .post-list {
    @include spruce.layout-stack(m);
  }
}
