@use 'sprucecss/scss/spruce' as *;

.post-content {
  @include layout-stack;
  font-size: responsive-font-size(1.0375rem);

  p:first-child {
    color: color('heading');
    font-size: responsive-font-size(1.3rem);
    font-weight: 700;
    line-height: 1.7;
  }

  * + h1,
  * + h2,
  * + h3,
  * + h4,
  * + h5,
  * + h6 {
    margin-top: spacer('l');
  }

  h1 + *,
  h2 + *,
  h3 + *,
  h4 + *,
  h5 + *,
  h6 + * {
    margin-top: spacer('s');
  }

  img,
  iframe {
    border-radius: config('border-radius-lg', $display);
  }

  strong {
    color: color('heading');
  }
}

.resources {
  @include layout-stack('s');
  font-size: responsive-font-size(1.0375rem);
  margin-block-start: spacer('l');

  li::marker {
    color: color('heading');
  }
}

.edit-on-github {
  border-block: 1px solid color('border');
  margin-block-start: spacer('l');
  padding-block: spacer('s');
}

.more-content {
  @include layout-stack(2rem);
  margin-block-start: spacer('l');

  .post-list {
    @include layout-stack('m');
  }
}
