-var time = Date.now();

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Bite-Sized Accessibility - Quick and Small A11Y Tips
    link(rel='icon' href='../../assets/img/favicon.png' sizes='32x32')
    link(rel='stylesheet' href=`../../assets/css/main.css?time=${time}`)
    link(href='https://fonts.googleapis.com/css2?family=Rubik:wght@400;700;800&family=Space+Mono:wght@400;700&display=swap' rel='stylesheet')

  body
    include ../components/topbar
    include ../components/header
    main(id='content')
      include ../components/hero
      include ../components/list
    include ../components/footer
    include ../../../assets/icon/icons.svg

    script(src='../../assets/js/main.js')
