{% set assetHash = global.random() %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% include "partials/meta-info.html" %}
    <link rel="icon" href="/img/favicon.svg" sizes="32x32">
    <link rel="stylesheet" href="/css/main.css?{{ assetHash }}">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700;800&amp;family=Space+Mono:wght@400;700&amp;display=swap" rel="stylesheet">
  </head>
  <body>
    <a class="btn btn--primary skip-link" href="#content">Skip to content</a>

    {% include "partials/topbar.html" %}
    {% include "partials/site-header.html" %}

    <main tabindex="-1" id="content" class="container--narrow">
      {% block content %}{% endblock %}
    </main>

    {% include "partials/site-footer.html" %}
  </body>
</html>
