{% extends "layouts/base.html" %}

{# Grab other posts that aren’t this one for the 'more from the blog' feed #}
{% set recommendedPosts = helpers.getSiblingContent(collections.posts, page) %}}}

{% block content %}
  <div class="post-heading">
    <h1 class="post-heading__title">{{ title }}</h1>
    <div class="post-heading__meta">
      <time datetime="{{ date | w3DateFilter }}">{{ date | dateFilter }}</time>
      {% include "partials/tags.html" %}
    </div>
  </div>

  <div class="post-content">
    {{ content | safe }}
  </div>

  {% if recommendedPosts %}
    <section class="more" aria-describedby="more-title">
      <h3 id="more-title" class="h2">More a11y tips</h3>
      {% set postListItems = recommendedPosts %}
      {% include "partials/post-list.html" %}
    </section>
  {% endif %}
{% endblock %}
