@use 'sprucecss/scss/spruce' with (
  // $color-primary: hsl(337 92% 40%),
  $color-primary: #94F71C,
  $colors: (
    base: (
      border: hsl(243 61% 91%),
      heading: rgb(255, 255, 255),
      text: hsl(0 0% 100% / 0.8)
    )
  ),
  $border-radius-sm: 0.5rem,
  $border-radius-lg: 1rem,
  $line-height-base: 2,
  $btn-font-weight: 700,
  $font-family-base: #{'Open Sans', sans-serif},
  $font-family-heading: #{'Rubik', sans-serif}
);
