@use 'sprucecss/scss/spruce' with (
  // $color-primary: hsl(337 92% 40%),
  $color-primary: hsl(222 87% 47%),
  $colors: (
    base: (
      border: hsl(243 61% 91%),
      heading: #0b2a49,
      text: #141414,
      code-background: hsl(222 100% 95%),
      code-foreground: hsl(222 87% 47%)
    )
  ),
  $border-radius-sm: 0.5rem,
  $border-radius-lg: 1rem,
  $line-height-base: 2,
  $btn-font-weight: 700,
  $font-family-base: #{'Open Sans', sans-serif},
  $font-family-heading: #{'Harmony OS', sans-serif}
);
