@use 'sass:color';

$color-primary: hsl(222 87% 47%);
$color-primary-light: color.adjust(hsl(222 87% 47%), $lightness: 50%);

$color-secondary: hsl(341 74% 52%);

$color-black: hsl(210 83% 14%);

@use 'sprucecss/scss/spruce' with (
  $color-primary: $color-primary,
  $color-secondary: $color-secondary,
  $colors: (
    base: (
      border: $color-primary-light,
      heading: $color-black,
      text: hsl(237 33% 21%),
      code-background: $color-primary-light,
      code-foreground: $color-primary,
      topbar-background: $color-black,
      tag-background: $color-primary-light,
      tag-foreground: $color-primary
    )
  ),
  $spacers: (
    m: 2rem
  ),
  $border-radius-sm: 0.5rem,
  $border-radius-lg: 1rem,
  $line-height-base: 2,
  $btn-font-weight: 700,
  $font-family-base: #{'Open Sans', sans-serif},
  $font-family-heading: #{'Harmony OS', sans-serif}
);
