@use 'sprucecss/scss/spruce' with (
  $color-primary: hsl(337 92% 40%),
  $colors: (
    base: (
      heading: hsl(244 84% 10%)
    )
  ),
  $container-width: 50rem,
  $font-family-base: #{'Rubik', sans-serif},
  $font-family-heading: #{'Rubik', sans-serif},
  $font-family-cursive: #{'Space Mono', monospace},
  $heading-font-weight: 800
);
