<ul id="post-list" class="post-list">
  {% for post in postListItems %}
    <li>
      <div class="post-card">
        <div class="post-card__title-wrapper">
          <span class="post-card__serial-number">{{ post.data.issue }}</span>
          <h2 class="post-card__title">
            <a href="{{ post.url }}">
              {{ post.data.title }}
            </a>
          </h2>
        </div>
        <div class="post-card__meta">
          {% if post.data.date %}
            <time datetime="{{ post.data.date | w3DateFilter }}">{{ post.data.date | dateFilter }}</time>
          {% endif %}
          {% if post.data.tags %}
            <p class="sr-only" id="tags-desc">This post is tagged with:</p>
            <ul class="tags-list" aria-describedby="tags-desc">
              {% for tag in post.data.tags %}
                <li>
                  <a href="/tag/{{ tag | slug }}/">#{{ tag | replace(' ', '') }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
