<ul id="post-list" class="post-list">
  {% for post in postListItems %}
    <li>
      <div class="post-card">
        <div class="post-card__title-wrapper">
          <span class="post-card__serial-number">{{ post.data.issue }}</span>
          <h2 class="post-card__title">
            <a href="{{ post.url }}">
              {{ post.data.title }}
            </a>
          </h2>
        </div>
        <div class="post-card__meta">
          {% if post.data.date %}
            <time datetime="{{ post.data.date | w3DateFilter }}">{{ post.data.date | dateFilter }}</time>
          {% endif %}
          {% include "partials/pagination.html" %}
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
