<div class="topbar">
  <div class="container--wide">
    <div class="topbar__inner">
      <a class="topbar__logo" href="https://conedevelopment.com">
        <img src="/img/cone-logo-light.svg" height="14" width="51"/>
      </a>
      <ul class="topbar__navigation">
        <li><a href="https://sprucecss.com/">Spruce CSS</a></li>
        <li><a href="https://root.conedevelopment.com/">Root</a></li>
      </ul>
      <ul class="topbar__social">
        <li><a href="https://twitter.com/_iamadam">Twitter</a></li>
        <li><a href="https://github.com/adamlaki">GitHub</a></li>
      </ul>
    </div>
  </div>
</div>
